/* Define the color palette and other styles as CSS variables */
:root {
    --primary-bg: #06AB78;
    --primary-text: #FFFFFF;
    --base-content: #30313D;
    --base-content-secondary: #5C5B61;
    --base-bg: #F8F9FD;
    --highlight-bg: #3d3030;
    --highlight-text: #FFFFFF;
    --border-color-default: #30313D;
}

/* Universal Base Styles */
base, h1, h2, h3, h4, h5, h6, p {
    letter-spacing: -0.4px;
}

/* Backgrounds */
body {
    background-color: var(--base-bg);
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    /* max-width: 450px; */
}

/* Text Colors */
.primary-text {
    color: var(--primary-text);
}
.base-content {
    color: var(--base-content);
}
.base-content-secondary {
    color: var(--base-content-secondary);
}
.highlight {
    color: var(--highlight-text);
    background-color: var(--highlight-bg);
    padding: 0px 12px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    color: var(--base-content);
    line-height: 1;
}
h1 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 48px;
}
@media (max-width: 749px) {
    h1 {
        font-size: 36px;  
    }
}
h2 {
    font-size: 48px;
    font-weight: 900;
}
@media (max-width: 749px) {
    h2 {
        font-size: 28px;
    }
}

/* Buttons */
.primary-button, .secondary-button {
    padding: 5px 20px;
    border: 2px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
}
.primary-button {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}
.primary-button:hover {
    background-color: var(--primary-text);
    color: var(--primary-bg);
    border-color: var(--primary-bg);
}
.secondary-button {
    background-color: var(--base-content);
    color: var(--primary-text);
}
.secondary-button:hover, .secondary-button.active {
    background-color: var(--base-bg);
    color: var(--base-content);
    border-color: var(--base-content);
}
/* n-line text preview */
.text-preview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed to position below the button */
}

  
.loader {
    border: 8px solid #f3f3f3; /* Light grey border */
    border-top: 8px solid #3498db; /* Blue color for the spinner top */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
  
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.hidden {
    display: none;
}
    
